<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="json/drinks.js"></script>
    <script type="text/javascript" src="json/food.js"></script>
    <!-- <script src="scripts/barlist.js"></script> -->
    <!-- <script> -->
    <!--     docLoaded(indexPageLoaded); -->
    <!-- </script> -->
    <link rel="stylesheet" type="text/css" href="css/bar.css">
    <title>Bar</title>
  </head>
    <body>
        <main id="mainID">
          <!-- <div v-for="order in Orders"> {{order.orderId}}</div> -->
            <div class="dropdown">
	      <button  class="dropbtn" onclick="myFunction()"><p v-if="TableNr != 0">Table selected: {{TableNr}}</p><p v-else>Select Table</p></button>
	      <div id="myDropdown" class="dropdown-content">
		<div v-for="i=1 in 12">Table# {{i}}<input type="radio"  v-model="TableNr" v-bind:value="i"></div>
	      </div> 
	    </div>
	    <div id="checkout">
	      <div><h2> Checkout </h2></div>
	      <div id="tableNrDiv">Table nr: {{TableNr}}</div>
	      <div id="orderNr">Order nr: {{OrderNr}}</div>
	      
              <div id="checkoutItems">
	        <button class="checkoutButton" v-for="item in checkout" v-on:click="recieveItem(item)">{{item.label}} {{item.price}}Kr</button> 
	      </div>
	      
              <div id="total">Total: {{total}}Kr</div>
            </div>
	    
            <div id="menu">
              <div><Strong>Menu</Strong> </div>
	      
              <div id="menuList">
                <button class="drinkButton" v-for="drink in items" v-on:click="sendItem(drink)"><a id="idLeft">{{drink.menuID}}#</a> {{drink.label}}</button>
                <div v-for="(food, index) in fooditems">
	          <label class="foodButton" v-bind:for="index"><a id="idLeft">{{food.menuID}}#</a> {{food.label}}<br>\/</br></label>
	          <input v-bind:id="index" type="checkbox" name="c1">
	          
                  <div class="dropDownContent">
	            
                    <div v-for="ingredient in food.ingredients">
	              <label v-bind:for="ingredient">{{ingredient}}</label>
	              <input v-bind:id="food.menuID" type="checkbox" checked="checked" v-bind:name="food.menuID" v-bind:value="ingredient">
	            </div>
	            
                    <button id="sendToKitchen" v-on:click="sendItem(food)">Klart</button>
	          </div>
                  
	        </div>
	      </div>
              <button id="foobar" v-on:click="sendToKitchen(TableNr, OrderNr)"><h3>Send To Kitchen</h3></button>
	      <br></br>
	      <button id="foobar2" v-on:click="reset"><h3>Reset</h3></button> 
            </div>
        </main>
        <script src="/vue/vue.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="scripts/messages.js"></script>
        <script src="scripts/barToKitchen.js"></script>
    </body>
    <footer></footer>
</html>
