<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../public/scripts/barlist.js"></script>
    <script>
        docLoaded(indexPageLoaded);
    </script>
    <link rel="stylesheet" type="text/css" href="../public/css/bar.css">
    <title>Bar</title>
  </head>
  <body>
    <main id="mainID">
      <div id="menu">
          <div><Strong>Menu</Strong> </div>
        <div id="menuList"></div>  
      </div>
      <div id="checkout">
	<div> Checkout </div>
	<div id="tableNr"> {{TableNr}}</div>
	<div id="orderNr"> {{OrderNr}}</div>
      </div>
    </main>
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/messages.js"></script>
    <script src="scripts/barToKitchen.js"></script>
  </body>
  <footer>
  </footer>
</html>