<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="json/food.js"></script>
    <link rel="stylesheet" type="text/css" href="css/kitchen.css">
    <title>Kitchen</title>
    <!-- <script src="scripts/barlist.js"></script> -->
    <!-- <script> -->
    <!--     docLoaded(indexPageLoaded); -->
    <!-- </script> -->    
  </head>
    <body>
        <main id="mainID">
            
            <div id="inProg">
                <div><h2> Kitchen </h2></div>
                <div id="scrollWide">
                    <button class="progButton" v-for="item in Orders" v-if="item.state == 2" v-on:click="inProgOrder(item)"><div v-for="items in item.items" > {{items.label}}<a v-if="items.special"> w/o</a><li v-if="items.removed.length > 0" v-for="removed in items.removed"> {{removed}}</li></div></button> <!--Bättre sätt?-->
                </div>
            </div>
            
            <div id="newOrd">
                <div><h2>New Orders</h2></div>
                <div id=scroll>
                    <button class="orderButton" v-for="food in Orders" v-if="food.state == 1" v-on:click="sendItem(inProgList, food)"><div v-for="items in food.items">{{items.label}}<a v-if="items.special">*</a></div></button>
                </div>
            </div>
            
            <div id="ready">
                <div><h2> Ready </h2></div>
                <div id="scrollWide">
                    <button class="readyButton" v-for="item in Orders" v-if="item.state == 0" v-on:click="readyOrder(item)"><div v-for="items in item.items">Order:{{item.orderId}}<br>Table:{{item.tableId}}</br>{{items.label}}</div></button>
                </div>
            </div>
            
        </main>
        
        <script src="/vue/vue.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="scripts/messages.js"></script>
        <script src="scripts/kitchen.js"></script>
        
    </body>
    <footer>
    </footer>
</html>
