<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" href="/g63/public/css/table.css">--!>
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <title>Tables</title>
  </head>
  <body>
    <main id="mainID">
    
    <section id="tables">
        <form>
            <table id="a bunch of tables">
                <tr>
                    <dt>
                        <div class="table">a table</div>
                    </dt>
                </tr>
                
                <tr></tr>
                <tr></tr>

            </table>

        </form>
    </section>

    

    </main>
  </body>
  <footer>

  </footer>
</html>
