<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" type="text/css" href="/g63/public/css/table.css">--!>
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <title>Tables</title>
  </head>
  <body>
    <main id="mainID">
    
    <section id="tables">
        <form>
            <table id="a bunch of tables">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
                <tr>
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>

                        <td>
                        <div class="table">a table</div>
                        </td>

                        <td>
                        <div class="table">a table</div>
                        </td>
                        
                        <td>
                        <div class="table">a table</div>
                        </td>

                </tr>
                
                <tr>
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="table">a table</div>
                        </td>
                        
                    
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                </tr>

                <tr>
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                </tr>
                
                <tr>
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="table">a table</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="table">a table</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                </tr>
               
                <tr>
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                </tr>
                
                <tr>
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                </tr>
                
                <tr>
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                        <td>
                        <div class="emptyTable">empty</div>
                        </td>
                        
                </tr>

            </table>

        </form>
    </section>

    

    </main>
  </body>
  <footer>

  </footer>
</html>
