<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/table.css">
    <script src="scripts/tables.js"></script>
    <script src="scripts/vue.js"></script>
    <script>    </script>
    <title>Tables</title>
  </head>
  <body>
    <main id="mainID">
    
    <section id="tables">
        <form>
            <table id="a bunch of tables">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <col width="100px" height="100px">
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
                <tr>
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>

                        <td>
                        <div class="table">a table</div>
                        </td>

                        <td>
                        <div class="table">a table</div>
                        </td>
                        
                        <td>
                        <div class="table">a table</div>
                        </td>

                </tr>
                
                <tr>
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="table">a table</div>
                        </td>
                        
                    
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                </tr>

                <tr>
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                </tr>
                
                <tr>
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="table">a table</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="table">a table</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                </tr>
               
                <tr>
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                </tr>
                
                <tr>
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                </tr>
                
                <tr>
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                        <td>
                        <div class="tableEmpty">empty</div>
                        </td>
                        
                </tr>

            </table>

        </form>

    <hr>
    </section>
    
    <section id="dinnerTable">
        <table id="dinnerTables">
        </table>
    </section>
    <input v-model="TableNr" placeholder="Pick table">
    <p>Table number is: {{TableNr}} </p>
    <button v-on:click="sendToBar(TableNr)">Next</button>
    </main>
    <script src="/vue/vue.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/messages.js"></script>
    <script src="scripts/tableToBar.js"></script>
  </body>
  <footer>
  </footer>
</html>
