#menu {
    background-color: lightgrey;
    max-width: 70%;
    width: 65%;
    height: 800px;
    float: left;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    transform: scale();
    overflow-y: auto;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    width: 8em;
    border-radius: 25px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: left;
    display: inline-block;
}

.dropdown-content {
    display: none;
    --position: absolute;
    min-width: 120px;
}

.dropdown-content a {
    color:black;
    display: block;
}

.show{display:block;}

#checkoutItems {
    --overflow: scroll;
    overflow-y: auto;
    width: 100%;
    height: 500px;
}

#checkout {
    background-color: lightgrey;
    max-width: 15%;
    width: 15%;
    height: 800px;
    float:right;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

#meme {
    background-color: orange;
    color: black;
    display: block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    float: none;
    width: 15.3em;
    height: 2.5em;
    border: solid black;
    border-width: .1em;
    border-radius: 10em;
    padding: .1em .1em;
    margin: .05em .05em .05em .05em;

}

#tableNr {
    text-align: right;
    --border: solid;
    --background-color: red;
    width: 50px;
    --float:left;
}

#tableNrDiv {
    float:left;
    width: 130px;
}

#orderNr {
    text-align: left;
    --background-color: blue;
--    border: solid;
    width: 120px;
    float: right;
}


.foodButton {
    background-color:red;
    #color: black;
    display: block;
    #text-align: center;
    #font-size: 20px;
    cursor: pointer;
    position: relative;
    float: right;
    width: 200px
    height: 200px;
    #border: solid black;
    #border-width: .1em;
    #border-radius: 10em;
    #padding: .1em .1em;
    #margin: .05em .05em .05em .05em;
}

.foodButton + input {
    display: none;
}

.foodButton + input + div {
    display: none;
}

.foodButton + input:checked + div {
    display: block;
}

.tmpfoo{
    --border-radius: 5em;
    background-color: blue;
    width: 19em;
    
    border: solid black;
    border-width: .1em;
    border-radius: 10em;
    padding: .1em .1em;
    margin: .05em .05em .05em .05em;

}

.foodButtonDiv {
    float: left;
    width: 19.2em;
}

.drinkButtonDiv {
    float: left;
    width: 19.2em;
}


.barr {
    background-color: red;
    display: inline-block;
    width: 150px ;
    height: 42px;
    border: 2px solid black;
    margin-bottom: 13px;
}

.tableSelect {
    float: left;
    background-color: lightgrey;
    display: inline-block;
    width: 10%;
    height: 700px;
    float: left;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    margin-right: 40px;
}

.invis {
    display: none;
}

.invis:checked + .barr {
    background-color: lime;
}

.skirt {
    background-color: orange;
    color: black;
    position: relative;
    display: block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    float: left;
    width: 80%;
    height: 2.5em;
    border: solid orange;
    border-width: .1em;
    border-radius: 10em;
   . padding: .1em .1em;
    .margin: .05em .05em .05em .05em;
}

.skirt3 {
    .display: none;
    position: relative;
    float: left;
    background-color: darkorange;
    width: 15em;
    height: 10em;
    .margin-top: 1em;
}

.skirt2 {
    background-color: darkorange;
    float: right;
    width: 1.5em;
    height: 2.5em;
    margin-right: 1em;
    cursor: pointer;
}

..skirt2 + input {
    display: none;
}

.skirt2 + input + div {
    display: none;
}

.skirt2 + input:checked + div {
    display: block;
}

.skirt2v2 {
    display: none;
}

.foodButtonDiv2 {
    .height: 5em;   
}

.bre {
    background-color: orange;
    color: black;
    display: block;
    text-align: center;
    font-size: 20px;

    width: 15em;
    height: 2.5em;
    border: solid black;
    border-width: .1em;
    border-radius: 10em;
    padding: .1em .1em;
    margin: .05em .05em .05em .05em;
}


.drinkButton {
    background-color: yellow;
    color: black;
    display: block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    
    width: 15em;
    height: 2.5em;
    border: solid black;
    border-width: .1em;
    border-radius: 10em;
    padding: .1em .1em;
    margin: .05em .05em .05em .05em;
}

.checkoutButton {
    background-color: lime;
    border: 0.5px solid black;
    width: 300px;
    margin-top: 0.5px;
}

.show {display: block;}

#menuList   {
    //background-color: green;
    --float: left;
    --position: relative;
    width: 100%;
    left:2.5%;
}

#idLeft {
    padding-left: 5px;
    padding-top: 3px;
    float: left;
    text-align: left;
}

#foobar {
    width: 100%;
    height: 10%;
    color: white;
    background-color: green;
    text-align: center;
    float: center;
}


#foobar2 {
    width: 50%;
    height: 10%;
    color: white;
    background-color: red;
    text-align: center;
    float: center;
}

/* .Dropdowncontent { */
/*     background-color: orange; */
/* } */