#menu {
    background-color: moccasin;
    max-width: 70%;
    width: 70%;
    height: 100%;
    float: left;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    transform: scale();
    overflow-y: auto;
    margin: 00% 00% 00% 02%
}

.dropbtn {
    background-color: cornsilk;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 2px solid black;
    width: 8em;
    border-radius: 25px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: cornsilk;
    margin: 0% 0% 0% 0%;
}

.dropdown {
    float: left;
    display: inline-block;
}

.dropdown-content {
    display: none;
    --position: absolute;
    min-width: 120px;
}

.dropdown-content { /*REMOVE THIS A I THINK*/
    color:black;
    display: block;
}

.show{display:block;}

/* .dropdown:hover .dropdown-content { */
/*     display: block; */
/* } */

#checkoutItems {
    --overflow: scroll;
    overflow-y: auto;
    width: 100%;
    height: 500px;
}

#checkout {
    background-color: moccasin;
    max-width: 15%;
    width: 15%;
    height: 800px;
    float:right;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
    //margin: 33% 0% 0% 33%;
}

#tableNr {
    text-align: right;
    --border: solid;
    --background-color: red;
    width: 50px;
    --float:left;
}

#tableNrDiv {
    float:left;
    width: 130px;
}

#orderNr {
    text-align: left;
    --background-color: blue;
--    border: solid;
    width: 120px;
    float: right;
}

.foodButton {
    background-color: sandybrown;
    color: black;
    display: block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    float: none;
    width: 15em;
    height: 2.5em;
    border: solid black;
    border-width: .1em;
    border-radius: 10em;
    padding: .1em .1em;
    margin: -0.1em -0.10em -0.10em -0.10em;
}

.foodButton + input {
    display: none;
}

.foodButton + input + div {
    display: none;
}

.foodButton + input:checked + div {
    display: block;
}

.tmpfoo{
    border-radius: 2em;
    border-width: 0.1px;
    border: solid black;
    //background-color: #FFC000;
    background-color: peru;
    width: 19em;
}

.drinkButtonDiv {
    float: left;
    width: 19.2em;
}

.foodButtonDiv {
    float: left;
    width: 19.2em;
}

//.drinkButton {
//    background-color: yellow;
//    color: black;
//    border: solid black;
//    border-radius: 10px;
//    //padding: 12px 32px;
//    text-align: center;
//    display: block;
//    font-size: 16px;
//    //margin-top: 1px;
//    margin-top: .05em;
//    margin-bottom: .05em;
//    cursor: pointer;
//    /*width: 600px;*/
//    width: 50em;
//    height: 2em;
//}

.drinkButton {
    background-color: gold;
    color: black;
    display: block;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    
    width: 15em;
    height: 2.5em;
    border: solid black;
    border-width: .1em;
    border-radius: 10em;
    padding: .1em .1em;
    margin: .05em .05em .05em .05em;
}

.checkoutButton {
    background-color: cornsilk;
    border: 0.5px solid black;
    width: 250px;
    margin-top: 0.5px;
}

.show {display: block;}

#menuList   {
    //background-color: green;
    --float: left;
    --position: relative;
    width: 100%;
    left:2.5%;
}

#idLeft {
    padding-left: 5px;
    padding-top: 3px;
    float: left;
    text-align: left;
}

#foobar {
    width: 100%;
    height: 10%;
    color: black;
    background-color: cornsilk;
    text-align: center;
    float: center;
}


#foobar2 {
    width: 50%;
    height: 10%;
    color: white;
    background-color: firebrick;
    text-align: center;
    float: center;
}

/* .dropDownContent { */
/*     background-color: orange; */
/* } */

#myDropdown {
    background-color: cornsilk;
    border-radius: 10px;
    border: 1px solid black;
}
